.Table
{
    display: table;
    margin: auto;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
    
}
.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    text-align: center;
    
    
   
}
h1,h3{
    text-align: center;
}
img{
    width: 20%;
    
   
    
}
